<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <header>
        <h1>Contact Me</h1>
    </header>
    <main>
        <section class="contact-form">
            <p>
                If you would like to contact me via email you can reach me at:
                <a href="daves.address4@gmail.com" class="email-link">daves.address4@gmail.com</a>
            </p>
            <p>
                Or drop me a line here.
            </p>
            <h2>Get in Touch</h2>
            <!-- <form action="#">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea> -->

                <!-- <button type="submit">Send Message</button> -->
                <!-- <button (click)="sendJson()">Send JSON</button> -->

            <!-- </form> -->
            <form>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" [(ngModel)]="name" required>
              
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
              
                <label for="message">Message(Please type N/A if none applicable):</label>
                <textarea id="message" name="message" rows="4" [(ngModel)]="message" required></textarea>
              
                <button (click)="sendJson()">Send</button>
              </form>
              <p>
                It is the funcationality of this portion of the website that makes this a full-stack developmet.
                Here the information you submit will go to my postgreSQL database for me to review.
              </p>
              <p>
                I'll explain exactly how this works below with screen shots of my code on the left and 
                an explanation on the right.
              </p>
        </section>
    </main>
    <div class="contactdiscriptionbody">
        <div class="content">
            <div class="image-container">
              <img src="assets/nodeserver.png" alt="Image">
            </div>
            <div class="text-container">
              <h1>The Node.js Server</h1>
      
              <p>
                Here we will take a look at how the Angular app that is running this website talks to the backend. 
                My node server is where the SQL commands for my restAPI are processed. I'll give you a step by step explanation as to
                how this all works in communicating to the PostgreSQL database for storing any contact information that you hopefully
                submitted above. 
              </p>
              <p>
                Lets first look at the restAPI call on line 30.
              </p>
            </div>
          </div>
        </div>

        <div class="content">
          <div class="image-container">
            <img src="assets/contactroutes.png" alt="Image">
          </div>
          <div class="text-container">
            <h1>Contactroutes.js</h1>
            <p>The server is listening for the /api call in the last image. Once it recieves the ping it call on this file.
            </p>
            <p>
              Normally, you would have one file for routes and sort all your routes in this this one file. I created two as a way
              of helping beginners see the difference in the flow of commands being run. This file takes you to the controller
              which doesn't necessary have to be two separate files but in this case I made it this way to more clearly display the different routes
              for restAPI calls.
            </p>
          </div>

        <div class="content">
          <div class="image-container">
            <img src="assets/app.module.png" alt="Image">
          </div>
          <div class="text-container">
            <h1> Getting started now lets look at the modules</h1>
            <p>On lines 5-12 I have created all of these modules to do specific tasks. We will go over each of them.
              The modules above line 5 are imports from the .angular file package specifically the angular-webpack package.
            </p>
            <p>
              The imported Angular modules such as HttpClientModule are incredibly useful and necessary in creating
              a full stack development. This is a crucail module to import because, it is what allows
              us to connect this application to my Node.js server which is another program I created for handling the restAPI's
              get, post, put and delete commands. But we'll get to that later.
            </p>
          </div>
        </div>
      </div>        
<!--     
    <footer>
        <p>&copy; 2023 Your Name</p>
    </footer> -->
</body>
</html>

